// COLORS //
$white: #fff;
$grey: #cccdd0;
$black-first: #091122;
$blue: #afbfc6;

// FONTS //
$medium: AvenirMedium, Arial, Helvetiva, sans-serif;
$book: AvenirBook, Arial, Helvetiva, sans-serif;
$black: AvenirBlack, Arial, Helvetiva, sans-serif;
$light: AvenirLight, Arial, Helvetiva, sans-serif;
$lightOblique: AvenirItalic, Arial, Helvetiva, sans-serif;

$helvetica: Helvetica, sans-serif;
